/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot='true'] {
  height: inherit;
}

body {
  font-family: 'Caveat', cursive;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-color: #ffffff;

  // Graph Paper Background taken from:
  // https://www.heropatterns.com/
  background-image: url('/graph-paper.svg');
}

a {
  text-decoration: none;
  color: #293c4b;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.letters {
  display: flex;
  flex-direction: row;
}

.letter {
  padding: 0px 4px;
  font-size: 92px;
}

.letter_lost {
  color: #f54040;
  --text-decoration: line-through;
}

.view_definiton {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.view_definiton > img {
  width: 32px;
  margin: 0;
  margin-left: 8px;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 300px;
}

.confetti_overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -100;
}

// Confetti animation taken from
// https://codepen.io/fionnachan/pen/EvaqOB
[class|='confetti'] {
  position: absolute;
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 150 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w * 0.4}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l + '%');
    opacity: random() + 0.5;
    transform: rotate(#{random() * 360}deg);
    animation: drop-#{$i} unquote(4 + random() + 's') unquote(random() + 's');
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l + random(15) + '%');
    }
  }
}

.inputed_letters {
  position: absolute;
  font-size: 22px;
  right: 24px;
  list-style-type: none;
}

.another_round {
  font-size: 32px;
  cursor: pointer;
}
